@media only screen and (max-width: 780px) {
    .container-contacts{   
        width:100%;
        margin:auto;
        display:block;
        border-spacing:30px;
    }

    .container-contactSheet{
        width:70%;
        margin:auto;
        margin-top:7%;
        border:1px solid rgb(201, 201, 201);
        border-radius:10px;
        display:block;
        min-width:200px;

        
    }

}

@media only screen and (min-width: 781px) {
    .container-contacts{   
        margin-top:50px;
        width: 90%;
        margin: auto;
        display: flex;
        border-spacing: 30px;
        flex-wrap: wrap;
    }

    .container-contactSheet{
        margin-left:2%;
        margin-right:2%;
        margin-bottom:3%;
        border:1px solid rgb(201, 201, 201);
        border-radius:10px;
        flex: 1 1 auto;
        width: 25%;
        
    }
    
}


.name-contact {
    padding-top:6%;
    padding-bottom:2%;
    padding-left:5%;
    font-size:140%;
    font-weight:bold;
    color:rgb(6, 30, 110);
}
        
.position-contact {
    padding-bottom:6%;
    padding-left:5%;
    font-size:90%;
    font-weight:bold;
    color:grey;
}
        
.email-contact {
    padding-bottom:6%;
    padding-left:5%;
    font-size:80%;
    color:rgb(6, 30, 110);
}

.delete-button{
    color:red;
    border-color:red;
    margin-bottom:35px;
}

h3{
    margin:auto;
    font-size:23px;
    font-weight:bold;
    display:block;
    text-align:center;
}
.add-contact{
    box-shadow:0px 0px 6px #bbb;
    padding-bottom: 20px;
    padding-bottom:20px;
    margin:auto;
    max-width:60%;
    margin-bottom:50px;
}