.container-contacts{   
    width:90%;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
}

.container-contactSheet{
    width:26%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:3%;
    border:1px solid rgb(201, 201, 201);
    border-radius:20px;
    display:inline-block;
}

.name-contact {
    padding-top:6%;
    padding-bottom:2%;
    padding-left:5%;
    font-size:140%;
    font-weight:bold;
    color:rgb(6, 30, 110);
}
        
.position-contact {
    padding-bottom:6%;
    padding-left:5%;
    font-size:90%;
    font-weight:bold;
    color:grey;
}
        
.email-contact {
    padding-bottom:6%;
    padding-left:5%;
    font-size:80%;
    color:rgb(6, 30, 110);
}