	.do0{fill:#8C48AA;}
	.do1{fill:#FFFFFF;}
	.do2{fill:#30AC63;}
	.do3{fill:#995CB3;}
	.do4{fill:#2E80B6;}
	.do5{fill:#39C974;}
	.do6{fill:#3A98D7;}
	.do7{fill:#29BA9B;}
	.do8{fill:#239E84;}

@media only screen and (max-width: 780px) {
    svg{
      max-width:80%;
      margin-left:10%;
      margin-top:30px;
    }

}

@media only screen and (min-width: 781px) {
    svg{
      max-width:60%;
    }
}