.lock{
  max-width:30px;
  display:block;
  margin:auto;
}

form{
  margin-top:3%;
  margin-bottom:3%;
  padding-bottom:20px;
}

input{
  border-bottom:1px solid #333;
  padding-left:3%;
  padding-right:3%;
  padding-bottom:1%;
  display:block;
  margin:auto;
  margin-top:20px;
  margin-bottom:10px;
  text-align:center;
  border-left:0px;
  border-right:0px;
  border-top:0px;
  background-color:transparent;
}

button{
  width:130px;
  border:1px solid #333;
  background:transparent;
  padding-top:5px;
  padding-bottom:5px;
  margin:auto;
  display:block;
}

.container-login{
  background:url("../img/lock.jpeg");
  height:72vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:15%;
}

.detail{
  margin:auto;
  display:block;
  font-size: 12px;
  color:#fff;
  width:30%;
  text-align:center;
}

@media only screen and (max-width: 780px) {

.login-component{
    padding-top:20px;
    width:90%;
    margin:auto;
    display:block;
    box-shadow:0px 0px 6px #a4a4a4;
    background-color:rgba(255,255,255,0.8)
  }

}

@media only screen and (min-width: 781px) {
  .login-component{
    padding-top:20px;
    width:30%;
    margin:auto;
    display:block;
    box-shadow:0px 0px 6px #a4a4a4;
    background-color:rgba(255,255,255,0.8)
  }
}

