mainTitle:before{

    content: "";
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    width: 100%;
    max-width:85%;
    
}

.container-title {
    margin-bottom:35px;
    display: flex;
    width: 90%;
    margin:auto;
    margin-top:35px;
}
    
.decor {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 15%;
}

.decor-line {
    border-top: 1px solid #aaaaaa;
    flex: 1;
}
    
.name-mainTitle {
    padding: 0 10px;
    text-align: center;
    font-weight:200;
    font-size: 23px;
    border:0px !important;
    width: 100%;
    height:auto;
    color:dodgerblue;
}

.mainText{
    padding-top:35px;
    color:#333;
    margin:auto;
    max-width: 65%;
    width:65%;
    font-size:14px;
    min-height: 100px;
    text-align:justify;
    display:block;
    border:none !important;
}

.save{
    width:120px;
    top:10px;
    position: relative;
    float:right;
    background-color:rgba(255,255,255,0.8);
    height:50px;
    padding-top:20px;
    border-radius: 120px 0% 0% 120px;
    box-shadow: 0px 0px 3px #555;
    z-index:2;
}

.save-icon{
    width:30px;
    margin-left:20px;
    display:inline-block;
}

.save-label{
    font-weight: 200;
    color: dodgerblue;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.invisible{
    display:none;
}