@media only screen and (max-width: 780px) {
    .container{
        background: rgba(255,255,255,0.97);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

@media only screen and (min-width: 781px) {
    .container{
        background-color:#fff;
        box-shadow:0px 0px 6px #dedede;
        max-width: 30%;
        display:inline-block;
        min-height:400px;
    }
}

.title{

}
