@media only screen and (max-width: 780px) {
    .container {
        background: rgba(255,255,255,0.97);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .cross {
        width:40px;
        max-width:40px;
        height:40px;
        opacity: 0.6;
        margin-top:-10px;
    }
}

@media only screen and (min-width: 781px) {
    .container {
        background-color:#fff;
        box-shadow:0px 0px 6px #dedede;
        min-width: 40%;
        max-width: 40%;
        margin-right:5%;
        padding:0%;
        float: right;
    }

    .cross {
        width:20px;
        height:20px;
        margin-left:15px;
        opacity: 0.6;
    }
}

.mainTitle:before {
    content: "";
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    width: 100%;
    max-width:85%;
}

.container-title {
    margin-bottom:35px;
    display: flex;
    width: 90%;
    margin-top: 35px;
}

.decor {
    flex: 1;
    display: inline-block;
    align-items: center;
    min-width: 15%;
    vertical-align: middle;
    margin-top: 10px;
}

.decor-line {
    border-top: 1px solid #aaaaaa;
    flex: 1;
}

.name-mainTitle {
    padding: 0 10px;
    text-align: center;
    font-weight:200;
    font-size: 23px;
}

.mainText {
    padding-top:35px;
    color:#b4b4b4;
    margin:auto;
    max-width: 65%;
    text-align:justify;
    display:block;
}

.content {
    padding-top: 25px;
    color: #b3b3b3;
    margin: auto;
    max-width: 90%;
    text-align: justify;
    display: block;
    padding-bottom:5px;
}

.content2 {
    color: #b3b3b3;
    margin: auto;
    max-width: 90%;
    text-align: justify;
    display: block;
    padding-bottom:20px;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

.moduleNameId {
    color: #b3b3b3;
    margin: auto;
    max-width: 90%;
    text-align: justify;
    display: block;
}